{% extends "base.html" %}

{% block content %}

    <div class="container">

      <h1>Get in touch.</h1>
      <p> The Uniform Store<br>
      	  6641 Dublin Center Dr.<br>
      	  Dublin, OH  43017<br>
      	  info@theuniformstoreonline.net<br>
      	  614-793-0469<br>
      	  To schedule an appointment:  contact Steve or Jill<br>
      	  <br>
      	  Retail Hours:<br>
      	  Monday - Thursday        10am - 7pm<br>
      	  Friday - Saturday        10am - 3pm<br>
      
      </p>

	  <hr>
	  
{% endblock %}
