{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Charities</li>
              <li><a href="/nationwide_childrens/">Nationwide Children's Hospital</a></li>
              <li><a href="/ohio_health/">OhioHealth Foundation</a></li>
              <li><a href="/mount_carmel/">Mount Carmel Foundation</a></li>
              <li class="active"><a href="/james_cancer_hospital/">The James Cancer Hospital</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>The James Cancer Hospital and Solove Research Institute</h1>
          </div>
          <div class="row-fluid">
          	<p>The Ohio State University Comprehensive Cancer Center, Arthur G. James Cancer Hospital and Richard J. Solove Research Institute is the only cancer program in the country that features a National Cancer Institute-designated comprehensive cancer center allied with a nationally ranked academic medical center and free-standing cancer hospital. </p>
          	<p>It is here, at one of the nation’s largest public universities, that some of the world’s leading experts and brightest minds from a broad spectrum of disciplines join forces to create knowledge and integrate groundbreaking research with excellence in education and patient-centered care. </p>
          	<p>We are singularly focused on our shared vision: to create a cancer-free world, one person, one discovery at a time. Funds donated to The James will be directed to the Cancer Research Fund, which supports the most pressing needs for research.</p>
          </div><!--/row-->
          <div class="row-fluid">
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
{% endblock %}