{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Charities</li>
              <li><a href="/nationwide_childrens/">Nationwide Children's Hospital</a></li>
              <li><a href="/ohio_health/">OhioHealth Foundation</a></li>
              <li class="active"><a href="/mount_carmel/">Mount Carmel Foundation</a></li>
              <li><a href="/james_cancer_hospital/">The James Cancer Hospital</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Mount Carmel Foundation</h1>
          </div>
          <div class="row-fluid">
          	<p>Last year Mount Carmel diagnosed and treated more than 2,800 cancer patients, and offers countless programs and services that provide hope and healing to cancer patients and their families. Many of those programs are made possible through generous donations to Cancer Services through the Mount Carmel Foundation.</p>
			<p>Donations are used to provide:</p>
				<ul>
					<li>Cancer Suport Centers, like Jan’s Place at Mount Carmel St. Ann’s. Brought to life in 2003 through contributions to the Foundation from the Jan Hurley Memorial Pink Ribbon Golf Tournament, Jan’s Place offers a variety of programs and services to cancer patients, their families and caregivers. Additional centers will soon open at Mount Carmel East and West to expand these programs and services to patients all over central Ohio.</li>
					<li>Mount Carmel Cancer Risk Program, a program developed in 2001 that promotes early identification, risk reduction and prevention in high-risk individuals.</li>
					<li>Breast Cancer Exercise Programs</li>
					<li>The One In Eight Rowing team. a rowing program for breast cancer patients & survivors to help prevent lymphadema</li>
					<li>Support groups, classes and educational materials for patients and their families</li>
				</ul>
			<p>If ensuring that exceptional cancer programs are available to those in need is important to you, we hope you’ll consider making a donation to the Mount Carmel Foundation today by purchasing a stethoscope and earmarking it for Cancer Services.</p>
          </div><!--/row-->
          <div class="row-fluid">
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
{% endblock %}