{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Charities</li>
              <li class="active"><a href="/nationwide_childrens/">Nationwide Children's Hospital</a></li>
              <li><a href="/ohio_health/">OhioHealth Foundation</a></li>
              <li><a href="/mount_carmel/">Mount Carmel Foundation</a></li>
              <li><a href="/james_cancer_hospital/">The James Cancer Hospital</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Nationwide Children's Hospital</h1>
          </div>
          <div class="row-fluid">
          	<p>Cancer remains the number one killer of children today – one in 330 children will be diagnosed before their 20th birthdays. Childhood cancer affects not only kids, but their entire families. As one of the nation’s largest childhood cancer treatment and research programs, Nationwide Children’s Hospital’s Hematology/Oncology/Bone Marrow Transplant (BMT) provides a family-centered continuum of care for 160 newly-diagnosed patients each year and follows 10,000 patient visits in our outpatient facilities. As the pediatric component of the National Cancer Institute-designated Comprehensive Cancer Center at The Ohio State University, the program’s areas of distinction include:</p>
				<strong><p>Care</p></strong>
				<p>The Day Hospital, improving our efficiency in providing chemotherapy to our patients. Interfaith spiritual, emotional, renewal, and bereavement support and sanctuary. Specialists in a wide range of areas, should children develop another illness during cancer treatment. A new musculoskeletal program focused on alternatives to amputation. A passionate commitment to learning what children and their families have to teach us, and to incorporating their needs into the design and processes of patient care units.</p>
				<strong><p>Research</p></strong>
				<p>The Children’s Cancer Registry, one of only three national registries. A diagnostic resource and tumor tissue repository for all the nation’s pediatric oncology programs, it features retrospective follow-up of patients
					diagnosed from 1945 onward. Holding samples from more than 22,000 children, the registry has shared over 80,000 samples in the last five years alone.
					“Bench to bedside” research, an interdisciplinary and collaborative flow of ideas that translates laboratory discoveries to innovations in patient care. Active participation by our physicians and scientists, including faculty leadership roles, in Children’s
					Oncology Group, a national collaborative research organization providing clinical trials that result in state-of-the-art treatment for our patients. Research Building II, with an entire floor dedicated to research in childhood cancer. With more than 14 subspecialties in hematology/oncology care and a burgeoning BMT program, Nationwide Children's Hospital contributes to the continual improvement of national cancer cure rates, with an overall
					success rate for children with cancer and leukemia fast approaching 80 percent.</p>
          </div><!--/row-->
          <div class="row-fluid">
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
{% endblock %}