{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Charities</li>
              <li><a href="/nationwide_childrens/">Nationwide Children's Hospital</a></li>
              <li class="active"><a href="/ohio_health/">OhioHealth Foundation</a></li>
              <li><a href="/mount_carmel/">Mount Carmel Foundation</a></li>
              <li><a href="/james_cancer_hospital/">The James Cancer Hospital</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>OhioHealth Foundation</h1>
          </div>
          <div class="row-fluid">
          	<p>The OhioHealth Foundation helps our central Ohio family of faith based, not-for-profit, volunteer-governed hospitals and healthcare services fulfill their commitment to extraordinary care. Gifts made to the OhioHealth Foundation benefit Riverside Methodist Hospital, Grant Medical Center, Doctors Hospital, Dublin Methodist, Grady Memorial Hospital and HomeReach Hospice.</p>
 			<p>At OhioHealth, cancer patients and their families can find the highest quality of comprehensive and compassionate care. Our patients have the support of physicians in 20 specialties who are actively involved in cancer care; and they have access to the latest technologies, research and therapies for treatment, management of side effects, support and survivorship.</p>
			<p>When you make a gift to OhioHealth Cancer Services, you become an important partner in ensuring that compassionate cancer care remains available in central Ohio.</p>
          </div><!--/row-->
          <div class="row-fluid">
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
{% endblock %}