{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-list">
              <li class="nav-header">Charities</li>
              <li><a href="/nationwide_childrens/">Nationwide Children's Hospital</a></li>
              <li><a href="/ohio_health/">OhioHealth Foundation</a></li>
              <li><a href="/mount_carmel/">Mount Carmel Foundation</a></li>
              <li><a href="/james_cancer_hospital/">The James Cancer Hospital</a></li>
            </ul>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Scopes for the Cure</h1>
          </div>
          <div class="row-fluid">
          	<p>At The Uniform Store, we are committed to helping out in the fight against cancer.  That’s why 100% of the net proceeds of every stethoscope we sell go to the charities that are on the front line of the fight right here in Central Ohio. The choice is yours, The Ohio Health Foundation, Nationwide Children’s Hospital, The James, or The Mount Carmel Foundation.</p>
		  	<p>We offer the best stethoscopes, names you can trust and quality you depend on such as Littmann and MDF Instruments.</p> 
		  	<p><strong>Together, we can make a difference in our community</strong>. When you order, indicate which of the four charities you want your donation to be given to.</p>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
{% endblock %}